.App {
  display: grid;
  grid-template-areas:
          "header   header  header"
          "problems results graphs";
  grid-template-columns: 3fr 2fr 1fr;
}

.App > h1 {
  grid-area: header;
}

.App > .problems {
  grid-area: problems;
  border: 1px solid red;
  font-size: 72px;
}

.App input {
  font-size: 72px;
}

.App > .results {
  grid-area: results;
  border: 1px solid blue;
  font-size: 40px;
}

.App > .graphs {
  grid-area: graphs;
  border: 1px solid green;
}
